/* * {
    border: 1px dotted darkblue;
} */

html {
    background: url(../images/background_trivia.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Architects Daughter', cursive;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.game-area {
    color: white;
    text-align: center;
    text-shadow: 1px 1px black;
    font-size: 2rem;
}

#img-title {
    display: block;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#container-game {
    margin-top: 2rem;
    background-color:rgba(0, 0, 0, 0.4);
    border-radius: 1em;
    border: 2px solid pink;
    padding: 1em;

}

.spacer {
    margin-bottom: 2em;
}

#timer{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 2px solid pink;
    background-color:rgba(0, 0, 0, 0.2);

}

.timer:hover {
    background-color: rgba(255,192,203, 0.5);
}

.answer {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 2px solid pink;
    background-color:rgba(0, 0, 0, 0.2); 
}

.answer:hover {
    background-color: rgba(255,192,203, 0.5);
}

.correct-answer {
    background-color: green;
}

.wrong-answer {
    background-color: crimson;
}

.times-up {
    color: crimson;
}

