* {
    border: 1px dotted red;
}

html {
    background: url(../images/background_trivia.jpg) no-repeat center center fixed;
    background-size: cover;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.game-area {
    color: white;
    text-align: center;
    text-shadow: 2px 2px black;
    font-size: 2rem;
}

#img-title {
    display: block;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#container-game {
    margin-top: 2rem;
    background-color:rgba(0, 0, 0, 0.2);
    border-radius: 1em;

}